.linear-gradient {
  background: #f7e93f;
  background: linear-gradient(
    72deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(250, 39, 164, 1) 44%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 48px;
}