@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* linked font icon */
.navbar {
  background-color: #412567;
}
nav {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 24px 0;
}
.menus {
  width: 218px;
  display: flex;
  justify-content: space-between;
}
.logo {
  background: -webkit-linear-gradient(
    72deg,
    #f7e93f,
    #fa27a4,
    #fb09b4,
    #9100f8
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* navbar */
.banner {
  padding: 100px 0;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.micro-circle {
  margin: 0 auto;
  width: 350px;
  position: relative;
}
.microphone {
  margin: 0 auto;
  position: absolute;
  width: 170px;
  top: 32%;
  left: 700px;
  z-index: 1;
}
.new {
  position: absolute;
  top: 23%;
  left: 50%;
  z-index: 2;
}
.banner h1 {
  font-size: 60px;
  font-weight: bolder;
  color: white;
  margin-bottom: 8px;
}
.banner p {
  font-size: 16px;
  margin-bottom: 8px;
  color: white;
}
.banner .buttons {
  color: white;
}
.banner .buttons .linear-gradient {
  padding: 12px 16px;
  border-radius: 48px;
  border: none;
  margin-right: 10px;
}
.banner .buttons .btn {
  border: 1px solid #00ff88;
  color: #00ff88;
}
/* Banner */
/* header end*/
/* podcast start */
#podcast {
  padding: 50px 0 120px 0;
  background-color: #1a0b2e;
  color: white;
}
.podcast {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.content h1 {
  padding-bottom: 16px;
}
.content p {
  padding: 0 60px 20px 60px;
}
.item h2 {
  font-size: 48px;
  color: #00ff88;
  margin-bottom: 16px;
}

/* Podcast end*/
/* techwave start */
#techwave {
  padding: 120px 0;
  background-color: #230e3d;
}
.techwave {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}
.tech-cards .cards {
  background-color: #351165;
  padding: 60px 40px 20px 40px;
  border-radius: 40px;
}
.techwave h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.cards img {
  padding-bottom: 16px;
}
.cards h3 {
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}
.cards p {
  font-size: 16px;
}
/* featured starts */
#feature{
  background-color: #1A0B2E;
  color: white;
}
.feature{
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 0;
}
.feature h2{
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.episod{
  background-color: #250D44;
  border-radius: 15px;
}
.episods h3{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  padding: 0 24px;
}
.episod p{
  font-size: 16px;
  margin-bottom: 12px;
  padding: 0 24px;
}
.timing p, i{
color: #00ff88;
}
iframe{
  border-radius:15px 15px 0px 0px;
}
/* host */
#host{
  background-color: #1A0B2E;
  color: white;
  padding: 120px 0;
}
.host{
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 40px;
  background-color: #351165;
  border-radius: 40px;
}
.host h2{
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.host-content h3{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
.host-content p{
  font-size: 16px;
  margin-bottom: 16px;
}
.host-asset .logo img{
  border: 1px solid #533C72;
  padding: 5px;
  border-radius: 50%;
}
/* host end */
#footer{
  background-image: url(./assets/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0;
  text-align: center;
  color: white;
}
/* footer */
#footer h2{
  margin-bottom: 32px;
}
.footer{
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}